.modal-backdrop-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop-cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  opacity: 0.73;
  width: 100vw;
  height: 100vh;
}

.modal-content {
  display: flex;
  width: 75vw;
  height: 42vh;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 8px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 42px -12px;
}
